#galeria{
    padding-top: 100px;
    height: auto;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* background-color: rgb(252, 156, 0); */
    /* background-image: url('../imagenes/Extras/bannerNaranja.jpg'); */
    background-size: cover;
    background-position: center;
    margin:0;
}


#galeria img{
    background-color: rgba(255, 255, 255, 0.134);
    border-radius: 50px;
    margin: auto;
    height: 300px;
}