#porque-componentes{
    padding: 0 50px;
    background-image: url(../imagenes/Extras/bannerComponentesRecortado.jpg);
    height: 70vh;
    background-size: cover;
    background-position: center;
}

.contenido-componentes{
    padding: 40px 100px;
}
.contenido-componentes h2{
    font-size: 30px;
    font-weight: 400;
    padding: 10px 0px;
    text-align: center;
}
.contenido-componentes h2 span{
    font-weight: 600;
    text-transform: uppercase;
}
.contenido-componentes{
    position: relative;
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}