/* Objetivo */
#objetivo{
    padding: 0 50px;
    background-image: url(../imagenes/Extras/objetivo.jpg);
    height: 70vh;
    background-size: cover;
    background-position: center;
}
.contenido-objetivo{
    padding: 40px 100px;
}
.contenido-objetivo h2{
    font-size: 30px;
    font-weight: 400;
    padding: 10px 0px;
    text-align: center;
}
.contenido-objetivo h2 span{
    font-weight: 600;
    text-transform: uppercase;
}
.contenido-objetivo{
    position: relative;
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}